<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p th:text="'Dear ' + ${user.firstName} + ' ' + ${user.lastName}"></p>
        <p>The feedback was provided on <a th:href="'http://localhost:3000/feedback/' + ${id}" th:text="'ticket #' + ${id}"></a>.</p>
    </body>
</html>