<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>Dear Managers,</p>
        <p>New <a href="http://localhost:3000/all-tickets/" th:text="'ticket #' + ${id}"></a> is waiting for your approval.</p>
    </body>
</html>
