<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p th:text="'Dear ' + ${user.firstName} + ' ' + ${user.lastName}"></p>
        <p>
            <a th:href="'http://localhost:3000/ticket-overview/' + ${id}" th:text="'Ticket #' + ${id}"></a>
            was done by the engineer. Please provide your feedback by clicking on the ticket ID.
        </p>
    </body>
</html>