.App {
  text-align: center;
}

button {
  border: 2px seagreen solid;
  border-radius: 5px;
  background-color: rgb(226, 223, 223);
  height: 2em;
}

button:hover, .active {
  background-color: slateblue;
  color: white;
  cursor: pointer;
}

.table {
  width: 100%;
  border: 1px black solid;
}

.table tr:nth-child(even) {
  background-color: lightslategrey;
  color: white;
}

.table tr{
  border: 1px black solid;
}

.table td{
  border: 1px black solid;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}
