#create-form {
    position: fixed;
    background-color: white;
    z-index: 0;
    border: 5px seagreen solid;
    width: 30em;
    height: 30em;
    left: 37%;
    right: 50%;
}

#close-button {
    position: absolute;
    right: 0px;
    width:2em;
    background: url('../close.svg') no-repeat;
    background-size: cover;
    border: none;
}
