#header {
    border-bottom: 2pt seagreen solid;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

#header h1 {
    display: table-cell;
    text-align: left;
    margin-left: 0;
    width: 100%;
}

#logout {
    display: table-cell;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

#logout button {
    margin-left: 2em;
}