<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Page not found</title>
    </head>
    <body>
        <h1>Page not found</h1>
        <span th:text="${message}"></span>
    </body>
</html>
