<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Welcome to online shop</title>
        <link rel="stylesheet" th:href='@{/resources/style.css}'/>
    </head>
    <body>
        <div class="block-middle">
            <h1 th:text="'Hello ' + ${session.name} + '!'"></h1>
            <div> You have already chosen:</div>
            <ol>
                <li th:each='selected : ${selectedItems}' 
                    th:text="${selected.productName} + ' ' + ${selected.productPrice} + '$'"/>
            </ol>
            <form method="POST" th:action="@{/add-to-cart}">
                <select required='required' name="selectedItem">
                    <option th:each='product : ${goodsList}' 
                        th:value="${product.id}" th:label="${product.productName} + ' ' + ${product.productPrice} + '$'">                                
                    </option>
                </select> <br/>
                <input type=submit value='Add item'>
            </form>
            <input onclick=window.location.href="cart" type='button' value='Submit'>
        </div>
    </body>
</html>
