<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Order list</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2 th:text="${order.user.name} + ', your order:'"></h2>
        <ol>
            <li th:each="product : ${order.products}"
                th:text="${product.productName} + ' ' + ${product.productPrice} + '$'"/>
        </ol>
        <p th:text="'Total price: ' + ${order.totalPrice} + '$'"></p>
    </body>
</html>
