<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Welcome to online shop</title>
        <link rel="stylesheet" th:href='@{/resources/style.css}'/>
    </head>
    <body>
        <div class="block-middle">
            <h1 th:if="${emptyCart} == 'true'">Your cart is empty</h1>
            <div th:unless="${emptyCart} == 'true'">
                <h1 th:text="'Dear ' + ${session.name} + ' your order'"></h1>
                <ol>
                    <li th:each='selected : ${selectedItems}' 
                        th:text="${selected.productName} + ' ' + ${selected.productPrice} + '$'"/>
                </ol>
                <span th:text="'Total: ' + ${cost} + '$'"></span>
            </div>
        </div>
    </body>
</html>
