<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Welcome to online shop</title>
        <link rel="stylesheet" th:href='@{/resources/style.css}'/>
    </head>
    <body>
        <form method='POST' th:action='@{/sign-in}'>
            <h1>Enter your name</h1>
            <div th:if='${param.error}'>
                <div class='error'>Invalid login or password</div>
            </div>
            <input type='text' name='login' placeholder='Enter your name' /> <br/>
            <input type='password' name='password'/> <br/>
            <input name='terms' type=checkbox required>I agree with the terms of service <br/>
            <input type=submit value='Enter'>
        </form>   
    </body>
</html>
