<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Welcome to online shop</title>
        <link rel="stylesheet" th:href='@{/resources/css/style.css}'/>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src='@{/resources/js/cart.js}'></script>
    </head>
    <body>
        <div class="block-middle">
            <div>
                <h1 th:text="'Dear ' + ${session.name} + ' your order'"></h1>
                <div id="info"></div>
                <ol id='order'></ol>
                <span id='totalPrice'></span>
                <input type='hidden' id='orderId' th:value='${session.orderId}'/>
            </div>
        </div>
    </body>
</html>
