<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Welcome to online shop</title>
        <link rel="stylesheet" th:href='@{/resources/css/style.css}'/>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src='@{/resources/js/shop.js}'></script>
    </head>
    <body>
        <div class="block-middle">
            <h1 th:text="'Hello ' + ${session.name} + '!'"></h1>
            <div> You have already chosen:</div>
            <ol id='order'></ol>
            <p id='info'></p>
            <form>
                <select id='selectedItem' required='required' name="selectedItem">
                </select> <br/>
                <input id='addItem' type='button' value='Add item'/>
                <input type='hidden' id='orderId' th:value='${session.orderId}'/>
            </form>
            <input onclick=window.location.href="cart" type='button' value='Submit'>
        </div>
    </body>
</html>
