ol {
    list-style-position: inside; 
    padding-left: 0;
}

.block-middle, form{
    margin: 0 auto;
    text-align: center;
}

select {
    width: 25%;
}

.error {
    color: red;
    font-weight : bold;
}