.youtube{
	background-position: 84px;
}

.vimeo{
	background-position: 170px;
}

.twitter{
	background-position: 256px;
}

.skype{
	background-position: 336px;
}

.rss{
	background-position: 420px;
}

.pinterest{
	background-position: 505px;
}

.in{
	background-position: 588px;
}

.google{
	background-position: 673px;
}

.placeholder1{
	background-position: 757px;
}

.placeholder2{
	background-position: 840px;
}

.facebook{
	background-position: 924px;
}

.transparent-youtube{
	background-position: 84px top;
}

.transparent-vimeo{
	background-position: 170px top;
}

.transparent-twitter{
	background-position: 256px top;
}

.transparent-skype{
	background-position: 336px top;
}

.transparent-rss{
	background-position: 420px top;
}

.transparent-pinterest{
	background-position: 505px top;
}

.transparent-in{
	background-position: 588px top; 
}

.transparent-google{
	background-position: 673px top;
}

.transparent-placeholder1{
	background-position: 757px top;
}

.transparent-placeholder2{
	background-position: 840px top;
}

.transparent-facebook{
	background-position: 924px top;
}

.black-youtube{
	background-position: 84px bottom;
}

.black-vimeo{
	background-position: 170px bottom;
}

.black-twitter{
	background-position: 256px bottom;
}

.black-skype{
	background-position: 336px bottom;
}

.black-rss{
	background-position: 420px bottom;
}

.black-pinterest{
	background-position: 505px bottom;
}

.black-in{
	background-position: 588px bottom;
}

.black-google{
	background-position: 673px bottom;
}

.black-placeholder1{
	background-position: 757px bottom;
}

.black-placeholder2{
	background-position: 840px bottom;
}

.black-facebook{
	background-position: 924px bottom;
}

