.icon {
	background-image: url('images/icons.png');
	width: 84px;
	height: 84px;
	float: left;
	margin: 15px;
}
#social-container {
	opacity: 0.8;
	background-image: url('images/texture.jpg');
	border: 4px black solid;
	margin: auto;
	width: 30%;
	z-index: 1;
	position: absolute;
	left: 35%;
	top: 12%;
	text-align: center;
	padding: 10pt;
}

#social {
	background-image: url('images/texture2.jpg');
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 50px;
	font-family: Brush Script MT;
	font-weight: bold;
}

.line {
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-5deg);

}

.header {
	height: 300px;
	background-color: #F6F0F0;
	overflow: hidden;
}

.content {
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
}

.footer {
	background-color: #333333;
	border-width: 2px;
	border-radius: 5px;
}

button {
	border-radius: 5px;
	font-family: Arial;
	font-size: 12pt;
	color: white;
	margin-bottom : 15pt;
	border: none;
}

.buttons {
	padding: 25pt;
}

.pink {
	background-color: #D44889;
	font-size: 230%;
}

.green {
	background-color: YellowGreen;
}

.blue {
	background-color: DodgerBlue;
}

.red {
	background-color: OrangeRed;
	font-size: 110%;
}

.orange {
	background-color: Orange;
}

.yellow {
	background-color: Gold;
	font-size: 105%;
}

